<!-- agile-about -->
<div class="jarallax agile-about w3ls-section">
    <div class="container">
        <h2 class="w3ls_head"><span>About </span>Us</h2>
                <p class="w3agile">While designing your living room, it’s a good idea to think about certain key aspects like space available, the colours to be used, the kind of furniture and accessories you fancy.
            </p>
        <div class="agile-about-grids">
                
            <div class="col-md-6 col-sm-6 agile-about-grid agile-about-grid1 ">
                <h5>About Furnishings</h5>
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
                <p>sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>

            <div class="col-md-6 col-sm-6 agile-about-grid agile-about-grid2 ">
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="about-info-grids">
            <div class="col-md-4 col-sm-4 about-info about-info1">
                <i class="fa fa-info-circle agile-sicon" aria-hidden="true"></i>
                <h4>how we work</h4>
                <div class="h4-underline"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            <div class="col-md-4 col-sm-4 about-info about-info2">
                <i class="fa fa-question-circle agile-sicon" aria-hidden="true"></i>
                <h4>what we do</h4>
                <div class="h4-underline"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            <div class="col-md-4 col-sm-4 about-info about-info3">
                <i class="fa fa-registered agile-sicon" aria-hidden="true"></i>
                <h4>why choose us</h4>
                <div class="h4-underline"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //agile-about -->