<div class="panel-heading">
  <div class="panel-heading-btn">
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
  </div>
  <h4 class="panel-title">Category List</h4>
</div>
<div class="panel-body">
<table datatable class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>CATEGORYID</th>
      <th>CATEGORYNAME</th>
      <th>PARENTCATEGORYID</th>
      <th>CREATIONDATE</th>
      <th>UPDATIONDATE</th>
      <th>Action</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let list of categoryLists; let i = index">
      <td>{{ i+1 }}</td>
      <td>{{ list.CATEGORYID }}</td>
      <td>{{ list.CATEGORYNAME }}</td>
      <td>{{ list.PARENTCATEGORYID }}</td>
      <td>{{ list.CREATIONDATE }}</td>
      <td>{{ list.UPDATIONDATE }}</td>
      <td><a [routerLink]="['/updatecategory', list.CATEGORYID ]">Update</a></td>
      <td><a (click)="deleteCategory(list.CATEGORYID)">Delete</a></td>
    </tr>
  </tbody>
</table>
</div>