<div class="panel-heading">
  <div class="panel-heading-btn">
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
  </div>
  <h4 class="panel-title">Create New City</h4>
</div>
<div class="panel-body">
  <div class="container">
    <div class="row">
        <div class="col-sm-4 col-xs-4"></div>
        <div class="col-sm-4 col-xs-4">
            <form #myform="ngForm"  style="border:solid 1px #f3f3f3; padding: 20px; " (ngSubmit)="createCity(myform)">
                <label for="">State Name : </label>
                <select style="width: 213px;" name="sname" id="" class="form-control" ngModel required>
                    <option value="">Select State</option>
                    <option *ngFor="let list of stateLists" [value]="list.STATEID">{{ list.STATENAME }}</option>
                </select>
                <p id="error" style="color: red;"></p>
                <br>   
                <label for="">City Name : </label>
                <input style="width: 215px;" type="text" class="form-control"  id="cname" name="cname" ngModel required
                >
                <p id="error1" style="color: red;"></p>
                <br>
                <input style="width: 213px;" type="submit" value="ADD NEW CITY" [disabled]="myform.invalid" class="btn btn-success btn-lg">
            </form>
        </div>
        <div class="col-sm-4 col-xs-4"></div>
    </div>
</div>
</div>