<div class="panel-heading">
  <div class="panel-heading-btn">
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
  </div>
  <h4 class="panel-title">Update State</h4>
</div>
<div class="panel-body">
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form #myForm="ngForm" (ngSubmit)="updateState(myForm)"  >
          <div class="form-group row">
            <label for="sname">STATE NAME</label>
              <input type="text" class="form-control" id="sname" name="sname" [(ngModel)]="states.STATENAME" ngModel required>
          </div>
          <br>
          <input type="submit" [disabled] = "myForm.invalid" class="btn btn-primary" value="Update State">
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
</div>